.button {
	height: 80px;
	width: 180px;
	cursor: pointer;
	margin: 50px auto;
}
.button .outer {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 10px;
	background: rgba(0,0,0,0.65);
	border-radius: 14px;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	box-shadow: inset rgba(0,0,0,0.85) 0px 1px 5px;
	-webkit-box-shadow: inset rgba(0,0,0,0.85) 0px 1px 5px;
	-moz-box-shadow: inset rgba(0,0,0,0.85) 0px 1px 5px;
	-webkit-transform: perspective(500px) rotateX(35deg);
	-moz-transform: perspective(500px) rotateX(35deg);
}
.button .outer .height {
	position: relative;
	height: 100%;
	margin-top: -15px;
	padding-bottom: 15px;
	background: #39a02d;
	border-radius: 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	box-shadow: rgba(0,0,0,0.85) 0px 1px 1px, inset rgba(0,0,0,0.35) 0px -2px 8px;
	-webkit-box-shadow: rgba(0,0,0,0.85) 0px 1px 1px, inset rgba(0,0,0,0.35) 0px -2px 8px;
	-moz-box-shadow: rgba(0,0,0,0.85) 0px 1px 1px, inset rgba(0,0,0,0.35) 0px -2px 8px;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
}
.button:hover .outer .height {
	margin-top: -10px;
	padding-bottom: 10px;
	background: #3aaf2d;
	box-shadow: rgba(0,0,0,0.25) 0px 1px 1px, inset rgba(0,0,0,0.35) 0px -2px 6px;
	-webkit-box-shadow: rgba(0,0,0,0.25) 0px 1px 1px, inset rgba(0,0,0,0.35) 0px -2px 6px;
	-moz-box-shadow: rgba( 0,0,0,0.25) 0px 1px 1px, inset rgba(0,0,0,0.35) 0px -2px 6px;
}
.button:active .outer .height {
	margin-top: 0px;
	padding-bottom: 0px;
}
.button .outer .height .inner {
	line-height: 2.8em;
	font-size: 30px;
	letter-spacing: .05em;
	position: relative;
	height: 100%;
	text-align: center;
	text-shadow: #8aff7b 0px 0px 1px;
	background: #44d135;
	background: -moz-linear-gradient(top, #80ec75 0%, #43d034 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#80ec75), color-stop(100%,#43d034)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #80ec75 0%,#43d034 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(top, #80ec75 0%,#43d034 100%); /* W3C */
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	box-shadow: inset rgba(255,255,255,0.85) 0px 0px 1px;
	-webkit-box-shadow: inset rgba(255,255,255,0.85) 0px 0px 1px;
	-moz-box-shadow: inset rgba(255,255,255,0.85) 0px 0px 1px;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
}
.button:hover .outer .height .inner{
	text-shadow: #99f48d 0px 0px 1px;
	background: #43d034; /* Old browsers */
	background: -moz-linear-gradient(top, #43d034 0%, #67e45c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#43d034), color-stop(100%,#67e45c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #43d034 0%,#67e45c 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(top, #43d034 0%,#67e45c 100%); /* W3C */
}
.button:active .outer .height .inner{
	text-shadow: #319926 0px 1px 0px;
	border-radius: 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	box-shadow: inset rgba(0,0,0,0.9) 0px 0px 8px;
	-webkit-box-shadow: inset rgba(0,0,0,0.9) 0px 0px 8px;
	-moz-box-shadow: inset rgba(0,0,0,0.9) 0px 0px 8px;
	background: #1d7d12; /* Old browsers */
	background: -moz-linear-gradient(top, #1d7d12 0%, #4fd342 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1d7d12), color-stop(100%,#4fd342)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #1d7d12 0%,#4fd342 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(top, #1d7d12 0%,#4fd342 100%); /* W3C */
}

input.ui-input-text {
	-webkit-appearance: none;
}

input.ui-input-text, textarea.ui-input-text {
	background-image: none;
	padding: .4em;
	line-height: 1.4;
	font-size: 16px;
	display: block;
	width: 97%;
	outline: 0;
}

.ui-body-a, .ui-body-a input, .ui-body-a select, .ui-body-a textarea, .ui-body-a button {
	font-family: Helvetica,Arial,sans-serif;
}

.ui-body-a, .ui-overlay-a {
	border: 1px solid #444;
	background: #222;
	color: #fff;
	text-shadow: 0 1px 1px #111;
	font-weight: normal;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#444),to(#222));
	background-image: -webkit-linear-gradient(#444,#222);
	background-image: -moz-linear-gradient(#444,#222);
	background-image: -ms-linear-gradient(#444,#222);
	background-image: -o-linear-gradient(#444,#222);
	background-image: linear-gradient(#444,#222);
}

.ui-shadow-inset {
-moz-box-shadow: inset 0 1px 4px rgba(0,0,0,.2);
-webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,.2);
box-shadow: inset 0 1px 4px rgba(0,0,0,.2);
}

.ui-corner-all{

	background-clip: padding-box;
	border-radius: .6em;

}

.ui-header, .ui-footer {
position: relative;
border-left-width: 0;
border-right-width: 0;
}

.ui-bar-a{

	font-family: Helvetica,Arial,sans-serif;
	border: 1px solid #333;
background: #111;
color: #fff;
font-weight: bold;
text-shadow: 0 -1px 1px #000;
background-image: -webkit-gradient(linear,left top,left bottom,from(#3c3c3c),to(#111));
background-image: -webkit-linear-gradient(#3c3c3c,#111);
background-image: -moz-linear-gradient(#3c3c3c,#111);
background-image: -ms-linear-gradient(#3c3c3c,#111);
background-image: -o-linear-gradient(#3c3c3c,#111);
background-image: linear-gradient(#3c3c3c,#111);

}

header{

	display: block;

}