body{
	font-family: 'Roboto Condensed', sans-serif;
}

*, *::after, *::before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.page{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	background: #f3f3f3;
}

span{
	visibility: hidden;
	display: none;
}

.contentBox{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
}

input{
	width: 100%;
	height: 20%;
	position: relative;
	display: block;
	padding: 0.5em;
	text-align: right;
	font-size: 35px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	background-color: #486cf9;
	color: #fff;
	border: none;
	box-shadow: inset 4px 4px rgba(0, 0, 0, 0.2);
	text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

.contentBox-grid-row1{
	width: 100%;
	height: 16.5%;
	position: relative;
	display: inline-block;
	top: 0.2em;
	float: left;
}

.contentBox-grid-row1-column{
	width: 49.35%;
	position: relative;
	display: inline-block;
	text-align: center;
}

.btn{
	padding: 1.5em 1em;
	text-align: center;
	width: 100%;
	height: 100%;
	border: 1px solid #486cf9;
	background-color: #fff;
	color: #486cf9;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	font-size: 20px;
	display: inline-block;
	cursor: pointer;
	border-radius: 3px;
	box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
	float: left;
}

.btn2{
	padding: 1.5em 1em;
	text-align: center;
	width: 100%;
	height: 100%;
	border: 1px solid #486cf9;
	background-color: #486cf9;
	color: #fff;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	font-size: 20px;
	display: inline-block;
	white-space: nowrap;
	cursor: pointer;
	border-radius: 3px;
	box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
	float: left;
}

.btn:active, .btn:focus, .btn:target{
	background-color: #e5e5e5;
	transition: background-color 0.1s ease-in-out;
	transition-delay: 0s;
	box-shadow: 0px 0px #6b54d3;
}


.btn2:active, .btn2:focus, .btn2:target{
	background-color: #3956c7;
	transition: background-color 0.1s ease-in-out;
	transition-delay: 0s;
	box-shadow: 0px 0px #6b54d3;
}

.contentBox-grid-row1-column2{
	width: 24.05%;
	position: relative;
	display: inline-block;
	text-align: center;
}

.contentBox-grid-row2{
	width: 100%;
	height: 16%;
	position: relative;
	display: inline-block;
	left: 0;
	/*top: 0.2em;*/
	float: left;
}

.contentBox-grid-row3{
	width: 100%;
	height: 16%;
	position: relative;
	display: inline-block;
	left: 0;
	float: left;
}